
body{ 
  background : #371f55;
background-image: url(img/Backgroun.svg);
   background-size: cover;
  background-image: url(css/img/Backgroun.svg);
  
  
}

input{
    background: black;
    border: 2px solid red;
    color: red;
}

button {
    background: black;
    border: 2px solid red;
    color: red;
}

.master{
  margin-left: 37%;
  margin-top: 2%;  
}


.sued_h1{
  padding-left: 100px;
  font-size: 40px;
}

h1{
  color: red;
}

.blood_line{
    position: absolute;
    clip: rect(0px,315px,24px,0px);
}
